body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7FbH8JwEVRlmw_0aOGMzFFxtdeja9S6Xfxw&s') ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;     /* centrování horizontálně */
  align-items: flex-start;        /* centrování vertikálně */
  padding-top: 50px;            /* posune container lehce dolů */
  /* Tady je container menší, protože padding je menší a flexbox určuje pozici. */
}

h1 {
  font-style: italic;
  font-size: 60px;
  color:red;
  -webkit-text-stroke: 1px black; /* tloušťka a barva obrysu */
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px; /* zmenšíme nadpis na malých obrazovkách */
  }
}

.container {
  display: inline-block; /* zarovnani podle textu*/
  text-align:center;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3); /* lehce světlejší a průhledné */
  border: 2px solid rgba(255,255,255,0.5);    /* jemné ohraničení */
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);     /* jemný stín pro hloubku */
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer; /*pointer → klasická ruka, která značí, že na tlačítko můžeš kliknout. */
  background-color: #ff4d4d;
  color: white;
  transition: 0.3s; /*změň ji plynule během 0,3 sekundy */
}

button:hover {
  background-color: blueviolet;
  transform: scale(1.1); /* zvetseni */
}
