body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7FbH8JwEVRlmw_0aOGMzFFxtdeja9S6Xfxw&s') ;
background-size: cover;
background-repeat: no-repeat;
}

h1 {
  font-style: italic;
  font-size: 60px;
  color:red;
}
.container {
  text-align:center;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;       /* zaoblené rohy */
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: blueviolet !important;
  transform: scale(1.1);
}
