body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7FbH8JwEVRlmw_0aOGMzFFxtdeja9S6Xfxw&s') ;
}

h1 {
  font-style: italic;
  color:red;
}
.container{
  text-align:center;
}
